*{
  box-sizing:border-box;
}
body{
  margin:0;
  font-family:Open Sans, sans-serif;
}
.ft-section-box{
  padding-top:10px;
  padding-bottom:10px;
}
.wrapper-box{
  padding-top:10px;
  padding-bottom:10px;
  margin-left:auto;
  margin-right:auto;
}
.gjs-ft-wrap-normal{
  max-width:1140px;
}
.ftheadline{
  text-align:center;
  font-size:32px;
  font-weight:400;
  color:#000000;
  line-height:1.2;
}
.ftparagraph{
  text-align:center;
  font-size:18px;
  line-height:1.5;
  color:#000000;
  margin-bottom:1rem;
  margin-top:0;
  font-weight:400;
}
.ft_com_box{
  text-align:center;
}
.gjs-btn{
  color:#fff;
  font-weight:700;
  background-color:#337ab7;
  font-size:20px;
  text-decoration:none;
  box-shadow:0 1px 0 rgba(255, 255, 255, 0.2) inset;
  border:1px solid rgba(0, 0, 0, 0.2);
  border-radius:3px;
  margin-right:auto;
  margin-left:auto;
  display:inline-block;
  text-align:center;
  margin-bottom:15px;
  padding:10px 25px;
}
.ffbtnmaintxt{
  display:flex;
  align-items:center;
  justify-content:center;
}
.ffbtnsubtxt{
  display:block;
  font-size:14px;
  font-weight:400;
  opacity:0.8;
  text-align:center;
}
#ijpcb{
  background-image:url(https://img.flexifunnels.io/images/163/image_k4ndm_2000.png);
  background-repeat:no-repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:cover;
  padding-bottom:0px;
  padding-top:6px;
}
#i6fzg{
  font-weight:800;
  text-align:left;
  font-family:Nunito, sans-serif;
  font-size:38px;
  color:#2f133b;
  line-height:1.3;
  text-transform:capitalize;
}
#irer3{
  text-align:left;
  font-family:Poppins, sans-serif;
  font-size:16px;
}
#i0ijj{
  text-align:left;
  font-family:Poppins, sans-serif;
  font-size:20px;
  margin-bottom:1px;
  font-weight:300;
  text-transform:capitalize;
}
.ft_image-style{
  margin-bottom:15px;
}
#ibjew{
  background-color:rgba(255, 192, 203, 0.28);
  padding-bottom:15px;
}
.ftsub_heading{
  text-align:center;
  font-size:23px;
  color:#000000;
  font-weight:400;
  line-height:1.2;
}
#iny1kn-2{
  border:1px solid #e2e1e1;
  margin-right:20px;
  border-radius:15px 15px 15px 15px;
  padding:0;
  background-color:#ffffff;
  padding-right:0px;
  padding-left:0px;
  box-shadow:0px 0px 10px 1px #ffdbe3;
}
#iny1kn-2:hover{
  border:1px solid #f6f6f6;
  box-shadow:0px 0px 43px -12px #9b9b9b;
}
.social-link-block > a:hover{
  text-decoration:none;
  color:#fff;
}
.carousel-inner>.item{
  background-color:#ccc;
}
#i9hcuy{
  border:1px solid #e2e1e1;
  margin-right:20px;
  border-radius:15px 15px 15px 15px;
  padding:0;
  background-color:#ffffff;
  box-shadow:0px 0px 10px 1px #ffdbe3;
}
#ichtqg{
  font-size:16px;
  font-family:Poppins, sans-serif;
  font-weight:700;
  line-height:1.4;
  color:#bfbfbf;
}
#i9hcuy:hover{
  border:1px solid #f6f6f6;
  box-shadow:0px 0px 43px -12px #9b9b9b;
}
#isepd9{
  border:1px solid #e2e1e1;
  margin-right:20px;
  border-radius:15px 15px 15px 15px;
  padding:0;
  background-color:#ffffff;
  box-shadow:0px 0px 10px 1px #ffdbe3;
}
#iag99e{
  font-size:16px;
  font-family:Poppins, sans-serif;
  font-weight:700;
  line-height:1.4;
  color:#bfbfbf;
}
#isepd9:hover{
  border:1px solid #f6f6f6;
  box-shadow:0px 0px 43px -12px #9b9b9b;
}
#ibt554{
  font-weight:800;
  text-align:center;
  font-family:Nunito, sans-serif;
  font-size:38px;
  color:#2f133b;
  margin-bottom:10px;
}
.{
  max-width:100%;
}
#iruaar{
  font-family:Poppins, sans-serif;
  font-size:16px;
  line-height:1.5;
}
#i604qg{
  text-align:left;
}
#ish8rh{
  text-align:left;
  background-color:#2f133b;
  font-family:Poppins, sans-serif;
  font-weight:500;
}
.ft-wrapper-box{
  padding-top:10px;
  padding-bottom:10px;
  margin-left:auto;
  margin-right:auto;
}
.list-item-imgstyle{
  border-radius:50%;
}
div.iframe-container{
  position:relative;
  height:0;
  padding-bottom:56.25%;
}
div.iframe-container > div{
  position:relative;
  height:0;
  padding-bottom:56.25%;
}
div.iframe-container > iframe{
  position:absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
}
div.iframe-container > div > iframe{
  position:absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
}
div.flike-container{
  width:max-content;
  position:relative;
  display:inline-block;
}
div.social-tlike{
  margin:5px;
  position:relative;
  display:inline;
  width:fit-content;
  height:fit-content;
  vertical-align:top;
}
div.social-linkedin{
  width:max-content;
  position:relative;
  display:inline-block;
  margin-left:5px;
  margin-right:5px;
  vertical-align:top;
}
div.social-skype{
  width:max-content;
  position:relative;
  display:inline-block;
  margin-left:5px;
  margin-right:5px;
  vertical-align:top;
}
progress{
  display:inline-block;
  vertical-align:baseline;
}
.progress-bar-striped, .progress-striped .progress-bar{
  background-image:linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size:40px 40px;
  background-size:40px 40px;
}
.progress-bar.active, .progress.active .progress-bar{
  -webkit-animation:progress-bar-stripes 2s linear infinite;
  -o-animation:progress-bar-stripes 2s linear infinite;
  animation:progress-bar-stripes 2s linear infinite;
}
.progress-striped .progress-bar-success{
  background-image:linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-striped .progress-bar-info{
  background-image:linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-striped .progress-bar-warning{
  background-image:linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-striped .progress-bar-danger{
  background-image:linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
div.social-link-block{
  text-align:center;
}
div.social-link-block.left{
  position:fixed;
  display:grid;
  top:25%;
  left:0px;
}
div.social-link-block.right{
  position:fixed;
  display:grid;
  top:25%;
  right:0px;
}
div.social-share{
  height:24px !important;
  width:max-content !important;
  display:inline-block;
  border:1px solid rgba(0,0,0,.17);
  -webkit-border-radius:2px;
  border-radius:2px;
  -webkit-box-shadow:0 1px 0 rgba(0,0,0,.05);
  box-shadow:0 1px 0 rgba(0,0,0,.05);
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-transition:background-color .218s,border-color .218s,box-shadow .218s;
  transition:background-color .218s,border-color .218s,box-shadow .218s;
  -webkit-user-select:none;
  -webkit-appearance:none;
  background-color:#fff;
  background-image:none;
  color:#262626;
  cursor:pointer;
  outline:none;
  overflow:hidden;
  position:relative;
  text-align:center;
  vertical-align:middle;
  white-space:nowrap;
  line-height:0 !important;
}
.social-share-icon > .fa{
  padding:0;
  font-size:15px !important;
  width:fit-content;
  text-align:center;
  text-decoration:none;
  margin:0;
  border-radius:0;
  background:none;
}
.social-share-icon > .fa-google-plus, .social-share-icon > .fa-google{
  color:#dd4b39;
}
.social-share-icon > .fa-facebook{
  color:#3B5998;
}
.social-share-icon > .fa-twitter{
  color:#55ACEE !important;
}
.social-share-icon > .fa-linkedin{
  color:#007bb5;
}
.social-share-icon > .fa-instagram{
  color:#125688 !important;
}
.social-share-icon > .fa-pinterest{
  color:#cb2027;
}
.social-share-icon > .fa-snapchat-ghost{
  color:#fffc00;
}
.social-share-icon > .fa-skype{
  color:#00aff0;
}
.navbar-light .navbar-nav .nav-link{
  color:#fff;
}
.gjs-ft-wrapper{
  width:100%;
  padding-right:15px;
  padding-left:15px;
  margin-right:auto;
  margin-left:auto;
}
.ff-accordion[border="solid"] .collapsed{
  box-shadow:inset 0 -1px 0 rgba(0,0,0,.125);
}
#i8bw7j[border="solid"] .accordion-item, #i8bw7j[border="spaced"] .accordion-item{
  border:1px solid rgba(0, 0, 0, 0.27);
}
.gjs-ft-row{
  padding-top:10px;
  padding-bottom:10px;
}
.gjs-ft-column{
  padding:10px 15px;
}
#ieh7z2{
  padding-top:0px;
  padding-left:0px;
  border-top:1px solid rgba(0, 0, 0, 0.19);
  padding-bottom:0px;
}
#iv8q5y{
  padding-left:0px;
  padding-bottom:0px;
}
#itr7p7{
  font-family:Poppins, sans-serif;
  font-weight:500;
  text-align:left;
  margin-top:-10px;
  font-size:17px;
  margin-bottom:0px;
  padding-bottom:0px;
  padding-top:10px;
}
#idil5i{
  font-family:Poppins, sans-serif;
  text-align:left;
  margin-bottom:0px;
  font-size:14px;
}
#i6oa2p{
  background-color:rgba(255, 192, 203, 0.28);
  padding-bottom:29px;
}
#i0a33l{
  background-color:#FFFFFF;
  padding:20px;
  border-radius:15px 15px 15px 15px;
  box-shadow:0px 0px 10px 1px rgba(246, 225, 255, 0.87);
  margin-right:15px;
  padding-top:20px;
}
#iyipjq{
  text-align:left;
  font-family:Poppins, sans-serif;
  font-size:16px;
  margin-top:10px;
}
.ft_com_div{
  text-align:center;
}
#it5fs4{
  width:38%;
  text-align:left;
}
#itjzzk{
  text-align:left;
}
#i9q0xj{
  font-family:Poppins, sans-serif;
  font-weight:500;
  text-align:left;
  margin-top:0px;
  font-size:20px;
  padding-bottom:0px;
  margin-bottom:0px;
}
#isk25z{
  padding:0px;
  padding-bottom:0px;
  padding-top:0px;
  padding-right:0px;
  padding-left:0px;
}
#ita5w8{
  padding-top:0px;
  padding-bottom:0px;
}
#ipa10f{
  padding:0px;
  flex-basis:16.6%;
}
#imgsdi{
  width:21%;
  margin-bottom:0px;
  margin-top:-1px;
  text-align:center;
}
#ia6io8{
  text-align:center;
}
#ie0hvf{
  font-weight:800;
  text-align:center;
  font-family:Nunito, sans-serif;
  font-size:37px;
  color:#2f133b;
  margin-bottom:10px;
}
#iphaym-2{
  padding:0;
}
#iecyi1-2{
  background-color:#000000;
  padding:9px;
  margin-top:0px;
  margin-bottom:0px;
}
#iojnbf-2{
  padding:0;
}
#icp7di-2{
  margin-bottom:0px;
  font-size:14px;
  font-family:Poppins, sans-serif;
  color:#BDBDBD;
}
#id9gif-2{
  padding:0;
}
#i2y86g{
  padding-bottom:0px;
  padding-top:0px;
}
#imdz2{
  padding-bottom:0px;
  padding-top:0px;
}
#iku6xi-2{
  margin-bottom:10px;
}
#ik4l65{
  width:90%;
  box-shadow:0px 0px 10px 1px #ffd6dd;
  margin-bottom:0px;
  border-radius:8px 8px 8px 8px;
}
#inpnke{
  font-weight:800;
  text-align:left;
  font-family:Nunito, sans-serif;
  font-size:38px;
  color:#2f133b;
  text-transform:capitalize;
  margin-bottom:8px;
}
#i2jxzz{
  text-align:left;
  font-family:Poppins, sans-serif;
  font-size:16px;
}
#is7ykk{
  font-weight:800;
  text-align:left;
  font-family:Nunito, sans-serif;
  font-size:38px;
  color:#2f133b;
  margin-bottom:10px;
}
#irj48i{
  font-family:Poppins, sans-serif;
  font-size:16px;
  text-align:left;
  color:#000000;
  line-height:1.5;
  margin-bottom:19px;
}
#iyuhpg{
  padding-top:0px;
  padding-left:0px;
}
#icm7tz{
  flex-basis:19%;
  padding:0px;
  padding-right:0px;
  padding-left:0px;
  padding-bottom:0px;
  padding-top:0px;
  margin-right:10px;
}
#iy6flj{
  text-align:center;
}
#ijt6e2{
  width:80%;
  text-align:center;
  padding-top:0px;
  margin-top:10px;
}
#i913rx{
  padding-left:0px;
}
#if39uu{
  font-family:Nunito, sans-serif;
  font-weight:500;
  text-align:left;
  margin-top:0px;
  font-size:20px;
}
#ipx3dh{
  font-family:Poppins, sans-serif;
  text-align:left;
  margin-bottom:0px;
  font-size:16px;
}
#ilbj08{
  padding-top:0px;
  padding-left:0px;
}
#itueh1{
  flex-basis:19%;
  padding:0px;
  padding-right:0px;
  padding-left:0px;
  padding-bottom:0px;
  padding-top:0px;
  margin-right:10px;
}
#ifh2zx{
  text-align:center;
}
#iyzbja{
  width:80%;
  text-align:center;
  padding-top:0px;
  margin-top:10px;
}
#igblih{
  padding-left:0px;
}
#i6f09q{
  font-family:Nunito, sans-serif;
  font-weight:500;
  text-align:left;
  margin-top:0px;
  font-size:20px;
}
#i1sibj{
  font-family:Poppins, sans-serif;
  text-align:left;
  margin-bottom:0px;
  font-size:16px;
}
#iur6az{
  padding-top:0px;
  padding-left:0px;
  padding-bottom:0px;
}
#irt12i{
  flex-basis:19%;
  padding:0px;
  padding-right:0px;
  padding-left:0px;
  padding-bottom:0px;
  padding-top:0px;
  margin-right:10px;
}
#i5as77{
  text-align:center;
}
#icam1h{
  width:80%;
  text-align:center;
  padding-top:0px;
  margin-top:10px;
}
#illjwg{
  padding-left:0px;
}
#i5e3md{
  font-family:Nunito, sans-serif;
  font-weight:500;
  text-align:left;
  margin-top:0px;
  font-size:20px;
  text-transform:capitalize;
}
#ioy8tj{
  font-family:Poppins, sans-serif;
  text-align:left;
  margin-bottom:0px;
  font-size:16px;
}
#i4bu8j{
  padding-bottom:0px;
}
#ia6ytq{
  text-align:left;
}
#indo51{
  text-align:left;
  background-color:#2f133b;
  font-family:Poppins, sans-serif;
  font-weight:500;
  border:0px solid #ffffff;
  margin-bottom:0px;
}
#i22jms{
  text-align:left;
}
#ivy1iu{
  width:94%;
  text-align:left;
  border-radius:10px 10px 10px 10px;
  box-shadow:0px 0px 20px -9px #2f133b;
  margin-top:13px;
  margin-bottom:0px;
  padding:0px;
}
#i761az{
  text-align:left;
  font-family:Poppins, sans-serif;
  font-size:16px;
}
.ft_image{
  display:inline-block;
}
.ftfont_966{
  font-size:16px;
}
#in6w58{
  text-align:left;
  font-family:Poppins, sans-serif;
  font-size:16px;
}
#ioi1wi{
  text-align:left;
  font-family:Poppins, sans-serif;
  font-size:16px;
}
#i2l29c{
  text-align:left;
  font-family:Poppins, sans-serif;
  font-size:16px;
}
#i6hle7{
  text-align:left;
}
#i4hsf4{
  text-align:left;
  background-color:#2f133b;
  font-family:Poppins, sans-serif;
  font-weight:500;
}
#is2643{
  border:1px solid #e2e1e1;
  margin-right:20px;
  border-radius:15px 15px 15px 15px;
  padding:0;
  background-color:#ffffff;
  box-shadow:0px 0px 10px 1px #ffdbe3;
}
#iho9ec{
  font-size:16px;
  font-family:Poppins, sans-serif;
  font-weight:700;
  line-height:1.4;
  color:#bfbfbf;
}
#is2643:hover{
  border:1px solid #f6f6f6;
  box-shadow:0px 0px 43px -12px #9b9b9b;
}
.ftfont_136{
  font-size:26px;
}
#ilxach{
  text-align:center;
  font-family:Poppins, sans-serif;
  font-size:16px;
  padding:13px;
}
#iqbyrj{
  text-align:center;
  font-family:Poppins, sans-serif;
  font-size:16px;
  padding:17px;
}
#iun1fm{
  text-align:center;
  font-family:Poppins, sans-serif;
  font-size:16px;
  padding:20px;
}
.ftfont_682{
  font-size:34px;
}
.ftfont_420{
  font-size:34px;
}
.ftfont_86{
  font-size:34px;
}
.ftfont_454{
  font-size:16px;
}
#iroao2{
  text-align:center;
  font-family:Poppins, sans-serif;
  font-size:16px;
  padding:13px;
}
#iymtc9{
  font-family:Poppins, sans-serif;
  font-size:16px;
  text-align:center;
  color:#000000;
  line-height:1.5;
  margin-bottom:19px;
}
#ijhc4m{
  background-color:#FFFFFF;
  padding:20px;
  border-radius:15px 15px 15px 15px;
  box-shadow:0px 0px 10px 1px rgba(246, 225, 255, 0.87);
  margin-right:15px;
  padding-top:20px;
}
#i78got{
  padding-top:0px;
  padding-bottom:0px;
}
#ikvqpx{
  padding:0px;
  padding-bottom:0px;
  padding-top:0px;
  padding-right:0px;
  padding-left:0px;
}
#i466eb{
  font-family:Poppins, sans-serif;
  font-weight:500;
  text-align:left;
  margin-top:-10px;
  font-size:17px;
  margin-bottom:0px;
  padding-bottom:0px;
  padding-top:10px;
}
#iqp1z5{
  padding:0px;
  flex-basis:16.6%;
}
#ivw6jt{
  text-align:center;
}
#ia97dv{
  width:21%;
  margin-bottom:0px;
  margin-top:-1px;
  text-align:center;
}
#imi46w{
  text-align:left;
  font-family:Poppins, sans-serif;
  font-size:16px;
  margin-top:10px;
}
#it24fs{
  text-align:left;
}
#iz2d3e{
  width:38%;
  text-align:left;
}
#itfitk{
  padding-top:0px;
  padding-left:0px;
  border-top:1px solid rgba(0, 0, 0, 0.19);
  padding-bottom:0px;
}
#ime1xh{
  padding-left:0px;
  padding-bottom:0px;
}
#i94x0j{
  font-family:Poppins, sans-serif;
  font-weight:500;
  text-align:left;
  margin-top:0px;
  font-size:20px;
  padding-bottom:0px;
  margin-bottom:0px;
}
#iv8bl8{
  font-family:Poppins, sans-serif;
  text-align:left;
  margin-bottom:0px;
  font-size:14px;
}
#ijwxkj{
  background-color:#FFFFFF;
  padding:20px;
  border-radius:15px 15px 15px 15px;
  box-shadow:0px 0px 10px 1px rgba(246, 225, 255, 0.87);
  margin-right:15px;
  padding-top:20px;
}
#itgeui{
  padding-top:0px;
  padding-bottom:0px;
}
#ipomyg{
  padding:0px;
  padding-bottom:0px;
  padding-top:0px;
  padding-right:0px;
  padding-left:0px;
}
#ik5stc{
  font-family:Poppins, sans-serif;
  font-weight:500;
  text-align:left;
  margin-top:-10px;
  font-size:17px;
  margin-bottom:0px;
  padding-bottom:0px;
  padding-top:10px;
}
#i876vf{
  padding:0px;
  flex-basis:16.6%;
}
#ihy2do{
  text-align:center;
}
#i4wowg{
  width:21%;
  margin-bottom:0px;
  margin-top:-1px;
  text-align:center;
}
#ij0u78{
  text-align:left;
  font-family:Poppins, sans-serif;
  font-size:16px;
  margin-top:10px;
}
#iondqw{
  text-align:left;
}
#ifqfpk{
  width:38%;
  text-align:left;
}
#i45rpy{
  padding-top:0px;
  padding-left:0px;
  border-top:1px solid rgba(0, 0, 0, 0.19);
  padding-bottom:0px;
}
#id0t55{
  padding-left:0px;
  padding-bottom:0px;
}
#ii0iam{
  font-family:Poppins, sans-serif;
  font-weight:500;
  text-align:left;
  margin-top:0px;
  font-size:20px;
  padding-bottom:0px;
  margin-bottom:0px;
}
#i7ecmm{
  font-family:Poppins, sans-serif;
  text-align:left;
  margin-bottom:0px;
  font-size:14px;
}
#ib63oi{
  padding-top:10px;
}
#ib8uag{
  background-color:#FFFFFF;
  padding:20px;
  border-radius:15px 15px 15px 15px;
  box-shadow:0px 0px 10px 1px rgba(246, 225, 255, 0.87);
  margin-right:15px;
  padding-top:20px;
}
#iw326x{
  padding-top:0px;
  padding-bottom:0px;
}
#ihvctq{
  padding:0px;
  padding-bottom:0px;
  padding-top:0px;
  padding-right:0px;
  padding-left:0px;
}
#imeqfs{
  font-family:Poppins, sans-serif;
  font-weight:500;
  text-align:left;
  margin-top:-10px;
  font-size:17px;
  margin-bottom:0px;
  padding-bottom:0px;
  padding-top:10px;
}
#ih4bm4{
  padding:0px;
  flex-basis:16.6%;
}
#ine84x{
  text-align:center;
}
#idmgjq{
  width:21%;
  margin-bottom:0px;
  margin-top:-1px;
  text-align:center;
}
#inzl08{
  text-align:left;
  font-family:Poppins, sans-serif;
  font-size:16px;
  margin-top:10px;
}
#i0cvuj{
  text-align:left;
}
#i3d87h{
  width:38%;
  text-align:left;
}
#iqk734{
  padding-top:0px;
  padding-left:0px;
  border-top:1px solid rgba(0, 0, 0, 0.19);
  padding-bottom:0px;
}
#ii0h6l{
  padding-left:0px;
  padding-bottom:0px;
}
#innd53{
  font-family:Poppins, sans-serif;
  font-weight:500;
  text-align:left;
  margin-top:0px;
  font-size:20px;
  padding-bottom:0px;
  margin-bottom:0px;
}
#i8r1uh{
  font-family:Poppins, sans-serif;
  text-align:left;
  margin-bottom:0px;
  font-size:14px;
}
#ijcxli{
  background-color:#FFFFFF;
  padding:20px;
  border-radius:15px 15px 15px 15px;
  box-shadow:0px 0px 10px 1px rgba(246, 225, 255, 0.87);
  margin-right:15px;
  padding-top:20px;
}
#i0le4f{
  padding-top:0px;
  padding-bottom:0px;
}
#iq7foc{
  padding:0px;
  padding-bottom:0px;
  padding-top:0px;
  padding-right:0px;
  padding-left:0px;
}
#izdnlz{
  font-family:Poppins, sans-serif;
  font-weight:500;
  text-align:left;
  margin-top:-10px;
  font-size:17px;
  margin-bottom:0px;
  padding-bottom:0px;
  padding-top:10px;
}
#ijnydo{
  padding:0px;
  flex-basis:16.6%;
}
#izwy4v{
  text-align:center;
}
#ivn86y{
  width:21%;
  margin-bottom:0px;
  margin-top:-1px;
  text-align:center;
}
#iphu86{
  text-align:left;
  font-family:Poppins, sans-serif;
  font-size:16px;
  margin-top:10px;
}
#i0x3gr{
  text-align:left;
}
#iz3osr{
  width:38%;
  text-align:left;
}
#iekhc1{
  padding-top:0px;
  padding-left:0px;
  border-top:1px solid rgba(0, 0, 0, 0.19);
  padding-bottom:0px;
}
#ircr2f{
  padding-left:0px;
  padding-bottom:0px;
}
#i5t32l{
  font-family:Poppins, sans-serif;
  font-weight:500;
  text-align:left;
  margin-top:0px;
  font-size:20px;
  padding-bottom:0px;
  margin-bottom:0px;
}
#ikyg3l{
  font-family:Poppins, sans-serif;
  text-align:left;
  margin-bottom:0px;
  font-size:14px;
}
#i04703{
  background-color:#FFFFFF;
  padding:20px;
  border-radius:15px 15px 15px 15px;
  box-shadow:0px 0px 10px 1px rgba(246, 225, 255, 0.87);
  margin-right:15px;
  padding-top:20px;
}
#is67h9{
  padding-top:0px;
  padding-bottom:0px;
}
#iyttwk{
  padding:0px;
  padding-bottom:0px;
  padding-top:0px;
  padding-right:0px;
  padding-left:0px;
}
#imlrpu{
  font-family:Poppins, sans-serif;
  font-weight:500;
  text-align:left;
  margin-top:-10px;
  font-size:17px;
  margin-bottom:0px;
  padding-bottom:0px;
  padding-top:10px;
}
#i3tkwh{
  padding:0px;
  flex-basis:16.6%;
}
#ilpb4h{
  text-align:center;
}
#i6k8dy{
  width:21%;
  margin-bottom:0px;
  margin-top:-1px;
  text-align:center;
}
#isjx89{
  text-align:left;
  font-family:Poppins, sans-serif;
  font-size:16px;
  margin-top:10px;
}
#ihopqh{
  text-align:left;
}
#ijl892{
  width:38%;
  text-align:left;
}
#i0e7zg{
  padding-top:0px;
  padding-left:0px;
  border-top:1px solid rgba(0, 0, 0, 0.19);
  padding-bottom:0px;
}
#i8upsf{
  padding-left:0px;
  padding-bottom:0px;
}
#ioyz8h{
  font-family:Poppins, sans-serif;
  font-weight:500;
  text-align:left;
  margin-top:0px;
  font-size:20px;
  padding-bottom:0px;
  margin-bottom:0px;
}
#icn0jh{
  font-family:Poppins, sans-serif;
  text-align:left;
  margin-bottom:0px;
  font-size:14px;
}
#iqgst9{
  padding-top:28px;
}
#irqmpq{
  padding-top:0px;
  padding-left:0px;
}
#ihbgw3{
  flex-basis:19%;
  padding:0px;
  padding-right:0px;
  padding-left:0px;
  padding-bottom:0px;
  padding-top:0px;
  margin-right:10px;
}
#ik8ylj{
  text-align:center;
}
#izimni{
  width:80%;
  text-align:center;
  padding-top:0px;
  margin-top:10px;
}
#ihdbl9{
  padding-left:0px;
}
#itvv7k{
  font-family:Poppins, sans-serif;
  font-weight:500;
  text-align:left;
  margin-top:0px;
  font-size:20px;
}
#ijxguj{
  font-family:Poppins, sans-serif;
  text-align:left;
  margin-bottom:0px;
  font-size:16px;
}
#i6tuh6{
  padding-top:32px;
}
#i5lfi{
  padding-top:60px;
}
.ff-accordion{
  margin-bottom:10px;
  width:100%;
  display:inline-block;
  padding:2px;
  align-items:center;
}
.accordion-button{
  position:relative;
  display:flex;
  align-items:center;
  padding:10px 10px;
  font-size:14px;
  color:#212529;
  font-weight:600;
}
.faq-title{
  font-size:inherit;
  font-weight:inherit;
  text-align:left;
  margin:0;
  margin-left:5px;
  margin-bottom:0;
  margin-right:0;
  margin-top:0;
}
.faqanswer{
  display:none;
  padding-left:10px;
  overflow:hidden;
  min-height:25px;
}
.togglefaq.active{
  font-weight:bold;
}
.faqanswer-par{
  text-align:left;
  font-size:14px;
  line-height:1.5;
  color:#000000;
  margin-bottom:10px;
  margin-top:0;
  padding-left:2px;
  padding-right:5px;
  font-weight:400;
}
#ia3bq[border="solid"] .accordion-item, #ia3bq[border="spaced"] .accordion-item{
  border:2px solid #fbf6fa;
}
#ia3bq[border="solid"] .collapsed, #ia3bq[border="spaced"] .collapsed{
  box-shadow:inset 0 -2px 0 rgba(224, 98, 98, 0.5);
}
#izdijt[border="solid"] .accordion-item, #izdijt[border="spaced"] .accordion-item{
  border:1px solid rgba(0,0,0,.125);
}
#i0ihzh{
  font-family:Nunito, sans-serif;
  font-weight:700;
  font-size:55px;
}
.ft_com_parent{
  font-size:0;
}
.divider-style{
  width:100%;
  margin-top:20px;
  margin-bottom:20px;
  margin-left:auto;
  margin-right:auto;
  border-top:5px solid #ccc;
  display:inline-block;
}
#iqwrfe{
  margin-top:0px;
  width:17%;
  border-top:5px solid #ffedf1;
}
#iz18ea{
  box-shadow:0px 0px 0px 1px #b898c6;
  width:78%;
}
#ibno6j{
  font-family:Poppins, sans-serif;
  font-size:17px;
  box-shadow:0px 0px 0px 0px #000000;
  margin-top:10px;
}
#iws3uu{
  font-size:21px;
  color:#000000;
  font-family:Poppins, sans-serif;
  font-weight:600;
  background-color:#ffedf1;
}
#inv2i7{
  font-size:20px;
}
#ishgft{
  box-shadow:0px 0px 0px 0px #000000;
}
#i8ionb{
  box-shadow:0px 0px 0px 1px #b898c6;
  width:78%;
}
#iaxdez{
  box-shadow:0px 0px 0px 0px #000000;
}
#i2ljj6{
  font-size:21px;
  color:#000000;
  font-family:Poppins, sans-serif;
  font-weight:600;
  background-color:#fffdff;
}
#ijdduh{
  font-size:20px;
}
#iev7i9{
  font-family:Poppins, sans-serif;
  font-size:17px;
  box-shadow:0px 0px 0px 0px #000000;
  margin-top:10px;
}
#i473x7i{
  box-shadow:0px 0px 0px 1px #b898c6;
  width:78%;
}
#iui1rr4{
  box-shadow:0px 0px 0px 0px #000000;
}
#iaia7n{
  font-size:21px;
  color:#000000;
  font-family:Poppins, sans-serif;
  font-weight:600;
  background-color:#ffedf1;
}
#i2siu3{
  font-size:20px;
}
#ixnqwf{
  font-family:Poppins, sans-serif;
  font-size:17px;
  box-shadow:0px 0px 0px 0px #000000;
  margin-top:10px;
}
#it0auev{
  box-shadow:0px 0px 0px 1px #b898c6;
  width:78%;
}
#ip3wv4z{
  box-shadow:0px 0px 0px 0px #000000;
}
#ijy376g{
  font-size:21px;
  color:#000000;
  font-family:Poppins, sans-serif;
  font-weight:600;
  background-color:#fffdff;
}
#i0yhe5l{
  font-size:20px;
}
#ie554su{
  font-family:Poppins, sans-serif;
  font-size:17px;
  box-shadow:0px 0px 0px 0px #000000;
  margin-top:10px;
}
#i4fypcv{
  box-shadow:0px 0px 0px 1px #ffedf1;
  width:78%;
}
#iyn4e96{
  box-shadow:0px 0px 0px 0px #000000;
}
#i217kjn{
  font-size:21px;
  color:#000000;
  font-family:Poppins, sans-serif;
  font-weight:600;
  background-color:#ffedf1;
}
#il52q2y{
  font-size:20px;
}
#itro4om{
  font-family:Poppins, sans-serif;
  font-size:17px;
  box-shadow:0px 0px 0px 0px #000000;
  margin-top:10px;
}
#ia9wq1{
  box-shadow:0px 0px 5px 0px #ffedf1;
}
@keyframes fadeEffect{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}
@keyframes progress-bar-stripes{
  from{
    background-position:40px 0;
  }
  to{
    background-position:0 0;
  }
}
@media (max-width: 991.98px){
  .gjs-btn{
    width:100%;
    font-size:18px;
  }
}
@media (max-width: 768px){
  .list-item-imgstyle{
    width:50%;
  }
}
@media (max-width: 575.98px){
  #ijpcb{
    padding-bottom:0px;
    padding-top:0px;
  }
  #i9hcuy{
    margin-right:10px;
    margin-left:10px;
  }
  #isepd9{
    margin-right:10px;
    margin-left:10px;
  }
  #iruaar{
    font-size:17px;
    text-align:center;
    line-height:1.5;
  }
  #itr7p7{
    margin-top:0px;
    font-size:20px;
  }
  #idil5i{
    margin-top:4px;
    padding-right:0px;
    padding-left:0px;
    font-size:16px;
  }
  #iv8q5y{
    padding:0;
  }
  #ieh7z2{
    flex-wrap:nowrap;
  }
  #i9q0xj{
    margin-top:0px;
    font-size:20px;
  }
  #ik4l65{
    width:100%;
  }
  #inpnke{
    text-align:center;
  }
  #is7ykk{
    text-align:center;
    font-size:28px;
  }
  #irj48i{
    font-size:16px;
    text-align:left;
    line-height:1.5;
  }
  #ijt6e2{
    width:84%;
    margin-top:0px;
    text-align:center;
  }
  #iy6flj{
    text-align:center;
  }
  #icm7tz{
    flex-basis:35.2%;
  }
  #if39uu{
    margin-top:0px;
    font-size:20px;
  }
  #ipx3dh{
    margin-top:4px;
    padding-right:0px;
    padding-left:0px;
    font-size:16px;
  }
  #i913rx{
    padding:0;
  }
  #iyuhpg{
    flex-wrap:nowrap;
  }
  #iyzbja{
    width:84%;
    margin-top:0px;
  }
  #itueh1{
    flex-basis:35.2%;
  }
  #i6f09q{
    margin-top:0px;
    font-size:20px;
  }
  #i1sibj{
    margin-top:4px;
    padding-right:0px;
    padding-left:0px;
    font-size:16px;
  }
  #igblih{
    padding:0;
  }
  #ilbj08{
    flex-wrap:nowrap;
  }
  #icam1h{
    width:84%;
    margin-top:0px;
  }
  #irt12i{
    flex-basis:35.2%;
  }
  #i5e3md{
    margin-top:0px;
    font-size:20px;
  }
  #ioy8tj{
    margin-top:4px;
    padding-right:0px;
    padding-left:0px;
    font-size:16px;
  }
  #illjwg{
    padding:0;
  }
  #iur6az{
    flex-wrap:nowrap;
    padding-bottom:0px;
  }
  #i3b4n3{
    padding-right:0px;
    padding-left:0px;
  }
  #ivy1iu{
    text-align:center;
    width:100%;
  }
  #i22jms{
    text-align:center;
  }
  #iq58k4{
    padding-top:0px;
    padding-bottom:0px;
  }
  #is2643{
    margin-right:10px;
    margin-left:10px;
    margin-bottom:20px;
    margin-top:20px;
  }
  #iymtc9{
    font-size:16px;
    text-align:left;
    line-height:1.5;
  }
  #i466eb{
    margin-top:0px;
    font-size:20px;
  }
  #ia97dv{
    margin-top:10px;
  }
  #i78got{
    flex-wrap:nowrap;
  }
  #i94x0j{
    margin-top:15px;
    font-size:20px;
  }
  #iv8bl8{
    margin-top:4px;
    padding-right:0px;
    padding-left:0px;
    font-size:16px;
  }
  #ime1xh{
    padding:0;
  }
  #itfitk{
    flex-wrap:nowrap;
    padding-top:10px;
  }
  #ijhc4m{
    margin-right:0px;
  }
  #ik5stc{
    margin-top:0px;
    font-size:20px;
  }
  #i4wowg{
    margin-top:10px;
  }
  #itgeui{
    flex-wrap:nowrap;
  }
  #ii0iam{
    margin-top:15px;
    font-size:20px;
  }
  #i7ecmm{
    margin-top:4px;
    padding-right:0px;
    padding-left:0px;
    font-size:16px;
  }
  #id0t55{
    padding:0;
  }
  #i45rpy{
    flex-wrap:nowrap;
    padding-top:10px;
  }
  #ijwxkj{
    margin-right:0px;
  }
  #imeqfs{
    margin-top:0px;
    font-size:20px;
  }
  #idmgjq{
    margin-top:10px;
  }
  #iw326x{
    flex-wrap:nowrap;
  }
  #innd53{
    margin-top:15px;
    font-size:20px;
  }
  #i8r1uh{
    margin-top:4px;
    padding-right:0px;
    padding-left:0px;
    font-size:16px;
  }
  #ii0h6l{
    padding:0;
  }
  #iqk734{
    flex-wrap:nowrap;
    padding-top:10px;
  }
  #ib8uag{
    margin-right:0px;
  }
  #izdnlz{
    margin-top:0px;
    font-size:20px;
  }
  #ivn86y{
    margin-top:10px;
  }
  #i0le4f{
    flex-wrap:nowrap;
  }
  #i5t32l{
    margin-top:15px;
    font-size:20px;
  }
  #ikyg3l{
    margin-top:4px;
    padding-right:0px;
    padding-left:0px;
    font-size:16px;
  }
  #ircr2f{
    padding:0;
  }
  #iekhc1{
    flex-wrap:nowrap;
    padding-top:10px;
  }
  #ijcxli{
    margin-right:0px;
  }
  #imlrpu{
    margin-top:0px;
    font-size:20px;
  }
  #i6k8dy{
    margin-top:10px;
  }
  #is67h9{
    flex-wrap:nowrap;
  }
  #ioyz8h{
    margin-top:15px;
    font-size:20px;
  }
  #icn0jh{
    margin-top:4px;
    padding-right:0px;
    padding-left:0px;
    font-size:16px;
  }
  #i8upsf{
    padding:0;
  }
  #i0e7zg{
    flex-wrap:nowrap;
    padding-top:10px;
  }
  #i04703{
    margin-right:0px;
  }
  #iqgst9{
    padding-bottom:0px;
  }
  #izimni{
    width:84%;
    margin-top:0px;
    text-align:center;
  }
  #ik8ylj{
    text-align:center;
  }
  #ihbgw3{
    flex-basis:35.2%;
  }
  #itvv7k{
    margin-top:0px;
    font-size:20px;
  }
  #ijxguj{
    margin-top:4px;
    padding-right:0px;
    padding-left:0px;
    font-size:16px;
  }
  #ihdbl9{
    padding:0;
  }
  #irqmpq{
    flex-wrap:nowrap;
  }
  #i2ljj6{
    font-size:18px;
  }
  #iev7i9{
    font-size:16px;
  }
  #i8ionb{
    width:100%;
  }
  #iaia7n{
    font-size:18px;
  }
  #ixnqwf{
    font-size:16px;
  }
  #i473x7i{
    width:100%;
  }
  #ijy376g{
    font-size:18px;
  }
  #ie554su{
    font-size:16px;
  }
  #it0auev{
    width:100%;
  }
  #i217kjn{
    font-size:18px;
  }
  #itro4om{
    font-size:16px;
  }
  #i4fypcv{
    width:100%;
  }
}
@media (max-width: 480px){
  #iny1kn-2{
    margin-right:10px;
    margin-left:10px;
  }
  #icp7di-2{
    font-size:14px;
    font-family:Poppins, sans-serif;
  }
  #ibt554{
    font-size:26px;
  }
  #iruaar{
    text-align:left;
    font-size:16px;
  }
  #isepd9{
    margin-right:10px;
    margin-bottom:20px;
    margin-top:20px;
    margin-left:10px;
  }
  #i9hcuy{
    margin-right:10px;
    margin-bottom:0px;
    margin-top:20px;
  }
  #ieykbh{
    padding:0;
  }
  #i0a33l{
    margin-right:0px;
  }
  #ita5w8{
    flex-wrap:nowrap;
  }
  #imgsdi{
    margin-top:10px;
  }
  #imdz2{
    padding-bottom:0px;
    padding-top:0px;
  }
  #i2y86g{
    padding-bottom:0px;
    padding-top:0px;
  }
  #ieh7z2{
    padding-top:10px;
  }
  #ie0hvf{
    font-size:28px;
  }
  #ib63oi{
    padding-bottom:0px;
  }
  #i9q0xj{
    margin-top:15px;
  }
  #i0ihzh{
    font-size:30px;
  }
  #iz18ea{
    width:100%;
  }
  #ia9wq1{
    padding-right:0px;
    padding-left:0px;
  }
  #ii8l9p{
    padding-right:0px;
    padding-left:0px;
  }
  #iws3uu{
    font-size:18px;
  }
  #ibno6j{
    font-size:16px;
  }
}
